@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "TT Firs Neue";
  src: url("../src/assets/TTFirsNeueTrialRegular.ttf") format("truetype");
}

:root {
  /* font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif; */
  line-height: 1.5;
  font-weight: 400;
  background-color: #0a0a1b;
  color: #acb5bb;
  /* color-scheme: light dark; */
  color-scheme: dark;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/* pulse effect */
.loader {
  border-radius: 50%;
  background-color: #69ffa8;
  animation: 1.5s pulse infinite ease-in-out;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 #69a5ff;
  }

  100% {
    box-shadow: 0 0 0 34px #69ffa800;
  }
}

.loader-gold {
  border-radius: 50%;
  background-color: #ffb14a;
  animation: 1.5s pulse-gold infinite ease-in-out;
}

@keyframes pulse-gold {
  0% {
    box-shadow: 0 0 0 0 #ffb14a;
  }

  100% {
    box-shadow: 0 0 0 34px #ff094600;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(300px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}

.table-data-style {
  @apply py-2 text-start hover:cursor-pointer transition-all duration-300 ease-in-out;
}

.table-header-style {
  @apply flex  items-center text-left justify-start hover:text-white hover:cursor-pointer transition-all duration-300 ease-in-out text-xs xl:text-sm line-clamp-1;
}

.rdp-root {
  --rdp-accent-color: #2a28ae; /* Use blue as the accent color. */
}

.account-input-style {
  @apply w-full h-[46px] bg-bg_gray_light text-white placeholder-secondary_light_400 
  border border-secondary_dark_600 rounded-md pl-10 pr-10 py-2
  focus:outline-none focus:ring-2 focus:ring-primary_dark_700
  transition duration-300 ease-in-out;
}

.account-input-label-style {
  @apply text-secondary_light_100 w-[300px] lg:w-[600px] text-start;
}
